.App{
  min-height: 100vh;
}

.btn-example button {
  margin: 0.25rem 0.125rem;
}

.app-content {
  margin-left: 260px;
}

.app-footer {
  margin-left: 220px;
  margin-top: 4.5rem;
}

.app-sidebar{
  /* display is set to none inside jsx file */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  overflow-y: auto;
}

.toggle-menu{
 display: none;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #9bf1da;
}

::-webkit-scrollbar-thumb{
  background: rgb(15, 131, 47);
}

::-webkit-scrollbar-thumb:hover {
  background: green;
}

pre[class*="language-"] {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow: auto;
}

code {
  overflow: auto !important;
  display: block !important;
}

pre::-webkit-scrollbar {
  width: 4px !important;
}

code::-webkit-scrollbar, .preview-box::-webkit-scrollbar {
  height: 2px !important;
}

code::-webkit-scrollbar-track {
  background: #aefcf8;
}

code::-webkit-scrollbar-thumb {
  background: rgb(36, 150, 135);
}

code::-webkit-scrollbar-thumb:hover {
  background: rgb(14, 99, 102);
}


/* media queries */
@media(max-width: 767px){

  ::-webkit-scrollbar{
      width: 4px;
  }

  pre {
    max-height: 400px;
  }
  
  .app-content {
    margin-left: 0px;
    font-size: 14px;
  }

  .app-footer {
    margin-left: 0px;
    font-size: 14px;
    width: 100%;
  }

  .nav-items {
    margin-right: 9px;
  }

  /* sidebar index */
  .app-sidebar{
      /* display is set to none inside jsx file */
      padding-top: 5rem;
      padding-bottom: 4rem;
      position: fixed;
      max-height: 100%;
      overflow-y: auto;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }

  .toggle-menu{
      display: block;
      margin-right: -8px;
  }

  .showOnMobile{
      display: block;
      animation: slideIn 0.3s ease forwards; 
  }

  .hideOnMobile{
      display: none;
  }
}

/* Keyframe animation for slide-in */
@keyframes slideIn {
  from {
      transform: translateX(-100%); /* Slide in from left */
  }
  to {
      transform: translateX(0); /* Slide in to visible position */
  }
}
